---
import { Image } from 'astro:assets';
import type { Project } from '../lib/projects';

const { data }: { data: Project } = Astro.props;
---

<div class={`grid ${data.thumbnails ? 'sm:grid-cols-2 sm:col-span-2' : 'grid-cols-1'} gap-2 bg-secondary dark:bg-dark-secondary p-5 rounded-3xl shadow-sm`} id={data.name}>
	<div class='flex flex-col gap-4'>
		<h3 class='h2'>{data.name}</h3>
		<div class='flex flex-wrap gap-2'>
			{data.tags.map(tag => <span class='text-dark-text bg-accent dark:bg-dark-accent px-2 py-1 rounded-sm shadow-sm'>{tag}</span>)}
		</div>
		<p class='mb-2'>{data.description}</p>
	</div>

	{
		data.thumbnails && (
			<a href={data.url} target='_blank' rel='noreferrer'>
				{/* <picture>
					<source media='(prefers-color-scheme: dark)' srcset={data.thumbnails.dark} />
					<source media='(prefers-color-scheme: light)' srcset={data.thumbnails.light} />
					<img width={550} height={300} class='rounded-3xl hidden dark:block' alt={`Screenshot of ${data.name}`} />
				</picture> */}
				<Image src={data.thumbnails.dark} width={550} height={300} class='rounded-3xl hidden dark:block' alt={`Screenshot of ${data.name}`} />
				<Image src={data.thumbnails.light} width={550} height={300} class='rounded-3xl dark:hidden' alt={`Screenshot of ${data.name}`} />
			</a>
		)
	}

	{
		data.url && (
			<a
				class='mt-auto text-dark-text bg-primary dark:bg-dark-primary p-2 rounded-full text-center md:hover:bg-accent dark:md:hover:bg-dark-accent md:hover:outline-accent dark:md:hover:outline-dark-accent transition-colors duration-200 outline-primary dark:outline-dark-primary outline-1'
				href={data.url}
				target='_blank'
				rel='noreferrer'
			>
				Check it out
			</a>
		)
	}

	{
		data.repository_url && (
			<a
				class='mt-auto bg-secondary dark:bg-dark-secondary p-2 rounded-full text-center md:hover:bg-accent dark:md:hover:bg-dark-accent md:hover:outline-accent dark:md:hover:outline-dark-accent md:hover:text-dark-text transition-colors duration-200 outline-accent dark:outline-dark-accent outline-1'
				href={data.repository_url}
				target='_blank'
				rel='noreferrer'
			>
				Repository
			</a>
		)
	}

	{data.coming_soon && <div class='mt-auto bg-secondary dark:bg-dark-secondary p-2 rounded-full text-center  outline-accent dark:outline-dark-accent outline-1'>Coming soon</div>}
</div>
